{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares Bought</th>
                <th class="text-end">Shares Sold</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for tran in trans %}
            <tr>
                <td class="text-start"> {{tran['symbol']}} </td>
                <td class="text-end"> {{tran['amount']}} </td>
                <td class="text-end"> {{tran['amount_sold']}} </td>
                <td class="text-end"> {{tran['price_of_trans']|usd}} </td>
                <td class="text-end"> {{tran['date']}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

